.*
*~
!.gitignore
!.perltidyrc
!.travis.yml
/blib
/pm_to_blib
/Makefile
/Makefile.old
/MANIFEST*
!MANIFEST.SKIP
/META.*
/MYMETA.*
*.tar.gz
App-CharmKit-*
/App-CharmKit-*
/.build
/_build_params
/Build
/Build.bat
!Build/
!META.json
!LICENSE
local/
